<body class="white-background">
  <div class="container content portfolio-page">
    <br />
    <br />
    <!-- All Projects -->
    <div class="containter portfolio-row" id="portfolio-container">
      <div class="column">
        <!-- personal website  -->
        <div class="project">
          <%= link_to root_path do %>
            <%= image_tag "/assets/melanie-logo.png", class: 'project-pic', id: 'project-logo', :alt => "Melanie's logo, a teal diamond with white initals ML inside" %>
            <br />
            <h4 class="project-name">This Website</h4>
            <h6 class="project-org">Personal project</h6>
          <% end %>
        </div>
      </div>
      <div class="column">  
        <!-- Flixter  -->
        <div class="project">
          <%= link_to "https://flixter-melanie-locke.herokuapp.com/", :target => "_blank" do %>  
            <%= image_tag "/assets/portfolio/flixter.png", class: 'project-pic', :alt => "Picture of Flixter, a video learning app" %>
            <br />
            <h4 class="project-name">Flixter</h4>
            <h6 class="project-org">UC Berkeley</h6>
          <% end %>
        </div>
      </div>
      <div class="column">
        <!-- Nomster -->
        <div class="project">
          <%= link_to "https://nomster-melanie-locke.herokuapp.com/", :target => "_blank" do %>
            <%= image_tag "/assets/portfolio/nomster.png", class: 'project-pic', :alt => "Picture of Nomster, a restaurant recommendation app" %>
            <br />
            <h4 class="project-name">Nomster</h4>
            <h6 class="project-org">UC Berkeley</h6>
          <% end %>
        </div>
      </div>
    </div> 
  </div>
</body>
