<body>
  <div class="container content">
    <br />
    <!-- Intro blurb -->
    <div class="col-10 offset-1", style="text-align: center;">
      <h3>As a former bookseller, there is little I enjoy more than offering up book recommendations. Here are a handful of my favorite reads:</h3>
    </div>
    <br />
    <br />
    <!-- First Rec -- Circe - Madeline Miller -->
    <div class="row">
      <div class="rec col-md align-self-start" id="circe-madeline-miller">
        <h4 class="if-you-like">For fiction readers interested in Greek mythology...</h4>
        <br />
        <%= image_tag "/assets/circe-cover.jpg", class: 'book-cover', :alt => "Cover of Circe, with a gold embossed image of a greek-style face" %>
        <br />
        <br />
        <h2 class="title">Circe</h2>
        <h4 class="author">Madeline Miller</h4>
        <hr />
        <div class="review-content">
          <p>I read <em>The Song of Achilles</em>, Miller's first creation, in a short few-hour stretch that culminated in me sobbing as I tore through the last fifty pages at three in the morning.</p>
          <p>In comparison, reading <em>Circe</em> was a slow savoring. I knew the power Madeline Miller wielded with her prose and I wanted to enjoy every bite. When I closed the back cover of <em>Circe</em> I was left in the same wobbly, emotional state that phenomenal books always leave me.</p>
          <p><em>Circe</em> is the retelling of Circe’s story — one of witchcraft, power, and the perilous space between god and mortal. The story grows with Circe and features a wide cast of Greek gods and goddesses.</p>
          <p>Like <em>The Song of Achilles</em>, Miller’s <em>Circe</em> sings with lyrical prose and captivating characters. But unlike Achilles, who shines brilliantly among his mortal peers, Circe is a different protagonist — one hampered by self-doubt and the suffocating opinions and restrictions of other powerful beings.</p>
          <p><em>Circe</em> is, at its core, the story of a woman growing into her power. Taking that theme quite literally, Miller has written a fascinating tale that dives deep into mythology and propels Circe from the depths. But the emotional growth of this forsaken witch is where Miller’s story truly shines. Circe endures her fair share of hardship and struggles continually with insecurity throughout the story. Miller’s portrayal of that self-doubt is, at times, brutal in its candor.</p>
          <p>I fell in love with Madeline Miller’s writing a year ago when I picked up The Song of Achilles. The vibrant emotion that saturated every page made my heart ache long after I closed the back cover. Circe is a different story that broke me with its honesty.</p>
          <p class="book-link"><%= link_to "Get your own copy!", "https://www.indiebound.org/book/9780316556323", :target => "_blank" %></p>
        </div>
      </div>
      <!-- Second rec -- First, Beast Beautiful - Sarah Wilson -->
      <div class="rec col-md align-self-start" id="beast-beautiful-sarah-wilson">
        <h4 class="if-you-like">For non-fiction readers who like mental health...</h4>
        <br />
        <%= image_tag "/assets/beast-beautiful-cover.jpg", class: 'book-cover', :alt => "Cover of First, We Make the Beast Beautiful — a blue octopus surrounded by pink bubbles on a dark purple background" %>
        <br />
        <br />
        <h2 class="title">First, We Make the Beast Beautiful</h2>
        <h4 class="author">Sarah Wilson</h4>
        <hr />
        <div class="review-content">
          <p>In <em>First, We Make the Beast Beautiful</em>, Sarah Wilson explores her anxiety and her lifelong struggle to handle her disorder with some kind of grace. For anxiety sufferers, this battle is familiar. It can take years to amass the tools to deal with anxiety. And the tools don’t always work. Anxiety is a lifelong problem.</p>
          <p>Anxiety can make living a “normal” life difficult. It’s hard to function like a neurotypical person when your mind is determined to convince you the world is ending. It makes everyday tasks hard — driving, flying, talking to strangers, talking to friends, working, sleeping, eating. The list goes on and on.</p>
          <p>With eloquence and blunt honesty, Wilson perfectly captures the spiraling doubt and worry that consumes an anxious person’s mind. She doesn't shy away from the dark parts of her life — when anxiety isn’t just a word on the page but a debilitating monster living inside her head.</p>
          <p>The power of this book comes from Wilson's toolbox. This book is no replacement for therapy, but Wilson details many of the tricks and tools therapists suggest and teach in the management of anxiety disorders. Little practices that help in the midst of a panic attack. Or daily routines that steady and center the mind.</p>
          <p>Sarah Wilson is an impressive storyteller whose tale of life with severe anxiety I couldn’t put down. Anyone who suffers from anxiety, or those who love someone who suffers, should pick up this book and devour it as completely as I did. It is powerful, honest, and tremendously useful. Three hundred pages later, I hope this book will mean as much to you as it does to me.</p>
          <p class="book-link"><%= link_to "Get your own copy!", "https://www.indiebound.org/book/9780062836786", :target => "_blank" %></p>
        </div>
      </div>
      <div class="row">
        <!-- Third Rec -- Children of Blood and Bone - Adeyemi -->
        <div class="rec col-md align-self-start" id="children-blood-bone-tomi-adeyemi">
          <h4 class="if-you-like">For fantasy readers...</h4>
          <br />
          <%= image_tag "/assets/children-blood-bone-cover.jpg", class: 'book-cover', :alt => "Cover of Children of Blood and Bone — a black background with illustration of a black woman with long white hair" %>
          <br />
          <br />
          <h2 class="title">Children of Blood and Bone</h2>
          <h4 class="author">Tomi Adeyemi</h4>
          <hr />
          <div class="review-content">
            <p>In Children of Blood and Bone, Zélie Adebola is a divîner who lives in a world without magic. It was taken by the king of Orïsha when he killed all the Maji — the blessed beings that carry the magic of the gods. Now, the only traces of magic left in this world linger in the color of the dîviners’ hair — a pure white that tells of the latent power dormant in their blood and marks them in a culture that taxes their existence.</p>
            <p>Children of Blood and Bone follows Zélie Adebola on an intense journey to return magic to Orïsha. With the help of a runaway princess and her long-suffering brother, Zélie must face seemingly insurmountable challenges to bring power back to her land. Among the many obstacles that stand in her way is the crown prince of Orïsha — who hopes to eliminate magic completely.</p>
            <p>This astounding book had me captivated and perfectly happy to ignore all other responsibilities within ten pages. Tomi Adeyemi takes the reader on an edge-of-your-seat adventure that had me reading with my nose an inch from the page over and over again.</p>
            <p>Adeyemi does not shy away from the painful realities of intense discrimination. From the skeletal figures of slaves who can’t afford water after a day of working in the sun to the deeply ingrained prejudice of the Crown Prince as he works against Zélie, Adeyemi acutely highlights the hatred dîviners experience with the same vivid storytelling that makes Children of Blood and Bone a breath-taking, fantastical tale that resonates in today’s politically-charged climate.</p>
            <p class="book-link"><%= link_to "Get your own copy!", "https://www.indiebound.org/book/9781250294623", :target => "_blank" %></p>
          </div>
        </div>
        <!-- Fourth Rec -- The Soul of an Octopus - Sy Montgomery -->
        <div class="rec col-md align-self-start" id="soul-of-octopus-sy-montgomery">
          <h4 class="if-you-like">For nonfiction readers who love animals...</h4>
          <br />
          <%= image_tag "/assets/soul-octopus-cover.jpg", class: 'book-cover', :alt => "Cover of The Soul of an Octopus — illustration of a purple octopus on a blue and white background" %>
          <br />
          <br />
          <h2 class="title">The Soul of an Octopus</h2>
          <h4 class="author">Sy Montgomery</h4>
          <hr />
          <div class="review-content">
            <p>In this beautiful exploration into the mind of the octopus, Sy Montgomery set out to interact with all the octopi she could find. Along the way, she poked and probed at the question of consciousness — and exactly what the octopus staring back at her might be thinking.</p>
            <p>The question of consciousness in animals is an important one — both in terms of recognizing and implementing practices that respect animal welfare, and in researching and understanding more of the world we live in. Montgomery’s lens into the mysterious world of this eight-armed creature provides readers with an opportunity to meet a being from one of the world’s final frontiers — the deep blue sea.</p>
            <p>Sy Montgomery does an excellent job of both anthropomorphizing the octopi she meets in an effort to relate (and allow her readers to relate) to this oftentimes foreign creature and speculating on the motivations and inclinations of a conscious being that receives and processes information very differently from humans.</p>
            <p>With every octopus Montgomery met and described, I fell deeper and deeper in love with the marvelous, intelligent creature. With the turn of the final page, I was left feeling like I had a whole host of new, many-limbed friends. This was an arresting and engrossing peek behind the curtain of consciousness, and into the psyche of an awe-inspiring cephalopod.</p>
            <p class="book-link"><%= link_to "Get your own copy!", "https://www.indiebound.org/book/9781451697728", :target => "_blank" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
